
<!--Author: Patrick Walsh -->
<!-- The project was built using core Angular and Ionic concepts and re-utilised methods that were 
 delivered by Gerard Harrison on the Mobile Applications Module.
-->

<ion-header [translucent]="true">
<ion-toolbar>
<ion-title></ion-title>
</ion-toolbar>
</ion-header>


<ion-content [fullscreen]="true">
  
<!--{{ingrdntIDHere}} -->

<h1>Ingredients</h1>

<!-- Display the data for each field returned  using *ngFor -->
<ion-card *ngFor="let ingredientExt of extendedIngredients">

 

  <!--<ion-img [src]="ingredientExt.image" alt="Ingredient"></ion-img>-->
  <!-- <img [src]="ingredientExt.image" alt="Ingredient" />-->
  <!--https://spoonacular.com/food-api/docs/show-images--> <!-- [src]="..." needed for property binding Ionic angualar -->
  <img [src]="'https://img.spoonacular.com/ingredients_100x100/' + ingredientExt.image" alt="ingredientExt.image" />   

  <ion-card-header>
  <ion-card-title>{{ingredientExt.title}}</ion-card-title>
    
  <ion-card-subtitle></ion-card-subtitle>
  </ion-card-header>
  
  
  <ion-card-content>
    <!-- show original -->
   <p>{{ingredientExt.original}}</p>
    
   <!-- show/hide  measures for metric depending on the variable state-->
    <p [hidden]="!elementIsHiddenMeasurements">{{ingredientExt.measures.metric.amount }} {{ ingredientExt.measures.metric.unitLong }}</p>

    <!-- show/hide measures for us depending on the variable state-->
    <p [hidden]="elementIsHiddenMeasurements">{{ingredientExt.measures.us.amount }} {{ ingredientExt.measures.us.unitLong }}</p>

  </ion-card-content>

</ion-card>



<h1>Instructions</h1>
<div [innerHTML]="ingredientsFullDetails.instructions"></div>   

 <!-- <p>{{ingredientsFullDetails.instructions}}</p> -->

 <!--Loop through the instructions returned using *ngFor and display using angular string interpolation-->
<ion-card *ngFor="let instructions of analyzedInstructionsSteps" >
  <ion-card-header>
  <ion-card-subtitle></ion-card-subtitle>
  <ion-card-title> </ion-card-title>
  </ion-card-header>
  <ion-card-content>
 <p> {{instructions.number}} : {{instructions.step}}</p>
  </ion-card-content>
</ion-card>

<p> </p>
<p> </p>

 <!-- https://ionicframework.com/docs/v4/api/buttons -->  
 <!-- https://ionicframework.com/docs/api/buttons#buttons-placement --> 
 <!--  https://ionicframework.com/docs/api/icon -->  
  <!--  Couldn't get the heart icon won't work...followed documentation -->  

 <!-- Add to favourites function built using an array in Ionic storage -->    
<ion-button aria-label="Favorite" (click)="addToFavourites(ingrdntIDHere)" > {{this.buttonStatusText }} 
<ion-icon name="heart"  aria-hidden="true"></ion-icon> 
</ion-button>





<p> </p>
<p> </p>
<br>
<br>
<br>
<br>
<br>

<ion-card >
  <ion-card-header>
  <ion-card-subtitle></ion-card-subtitle>
  <ion-card-title> </ion-card-title>
  </ion-card-header>
  <ion-card-content>
 <p> </p>
  </ion-card-content>
</ion-card>
</ion-content>


