
<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title></ion-title>

<!--
<ion-buttons slot="end">
  <ion-button (click)="addToFavourites(ingrdntIDHere)">
    <ion-icon 
      [name]="isFavorite ? 'heart' : 'heart-outline'" 
      [color]="isFavorite ? 'danger' : 'medium'"
      aria-label="Favorite">
    </ion-icon>
  </ion-button>
</ion-buttons>

-->



  </ion-toolbar>
</ion-header>







<ion-content [fullscreen]="true">
  
  <!--{{ingrdntIDHere}} -->

  <h1>Ingredients</h1>



<ion-card *ngFor="let ingredientExt of extendedIngredients">

 

   <!--<ion-img [src]="ingredientExt.image" alt="Ingredient"></ion-img>-->
  <!-- <img [src]="ingredientExt.image" alt="Ingredient" />-->

  <!--https://spoonacular.com/food-api/docs/show-images--> <!-- [src]="..." needed for property binding Ionic angualar -->
  <img [src]="'https://img.spoonacular.com/ingredients_100x100/' + ingredientExt.image" alt="ingredientExt.image" />   

  <ion-card-header>
  <ion-card-title>{{ingredientExt.title}}</ion-card-title>
    
  <ion-card-subtitle></ion-card-subtitle>
  </ion-card-header>
  
  
  <ion-card-content>
    <!-- show original -->
   <p>{{ingredientExt.original}}</p>
    
   <!-- show measures -->
    <p>{{ingredientExt.measures.metric.amount }} {{ ingredientExt.measures.metric.unitLong }}</p>

   <!-- {{ingredientExt.id}}-->
  
      
  </ion-card-content>


</ion-card>






 <!-- <img alt="" src = {{ingredientsFullDetails.image}}/>-->
<!-- <img [src]="i.image" alt="Ingredient Image" style="width:50px; height:50px; margin-right:10px;">-->

 <!-- 
<ion-list>
  <ion-item *ngFor="let i of extendedIngredients">
    
    <ion-label>{{i.id}}</ion-label>
    <ion-label>{{i.aisle}}</ion-label>
    <ion-label>{{i.image}}</ion-label>
  </ion-item>
</ion-list>
 
-->





<h1>Instructions</h1>
<div [innerHTML]="ingredientsFullDetails.instructions"></div>   

 <!-- <p>{{ingredientsFullDetails.instructions}}</p> -->

<ion-card *ngFor="let instructions of analyzedInstructionsSteps" >
  <ion-card-header>
  <ion-card-subtitle></ion-card-subtitle>
  <ion-card-title> </ion-card-title>
  </ion-card-header>
  <ion-card-content>
 <p> {{instructions.number}} : {{instructions.step}}</p>
  </ion-card-content>
</ion-card>

<p> </p>
  <p> </p>

 <!-- https://ionicframework.com/docs/v4/api/buttons -->  
 <!-- https://ionicframework.com/docs/api/buttons#buttons-placement --> 
 <!--  https://ionicframework.com/docs/api/icon -->  
   <!--  Icon won't work...tried everything... followed documentation -->  
<ion-button aria-label="Favorite" (click)="addToFavourites(ingrdntIDHere)" > {{this.buttonStatusText }} 
<ion-icon name="heart"  aria-hidden="true"></ion-icon> 
</ion-button>





<p> </p>
<p> </p>
<br>
<br>
<br>
<br>
<br>

<ion-card >
  <ion-card-header>
  <ion-card-subtitle></ion-card-subtitle>
  <ion-card-title> </ion-card-title>
  </ion-card-header>
  <ion-card-content>
 <p> </p>
  </ion-card-content>
</ion-card>
</ion-content>


