<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>
      G00472951
    </ion-title>
  </ion-toolbar>
</ion-header>
<!--Author: Patrick Walsh -->
<!-- The project was built using core Angular and Ionic concepts and re-utilised methods that were 
 delivered by Gerard Harrison on the Mobile Applications Module.
  -->
<ion-content [fullscreen]="true">
 
<!-- Takes in search terms here, (ngModel) binds the search terms in the variable "ingredients"-->
 <!-- The method showRecipesForXYZ() is called once the button is clicked which takes in this.ingredients -->
<ion-input label = "Enter Ingredients" placeholder = "add here" [(ngModel)] = "ingredients"></ion-input> 
<ion-button (click)="showRecipesForXYZ()" > Search </ion-button >
  

<!--This content will be hidden until the search is triggered  -->
<div [hidden]="elementIsHidden">
<!-- Test hidden  -->

<!-- ngFor will populate the ion card with the matching results for the get request  -->
<ion-card *ngFor="let ingredient of ingredientsInfo">


  <img alt="" 
    src = {{ingredient.image}} />
  <ion-card-header>
    <ion-card-title>{{ingredient.title}}</ion-card-title>
    
    <ion-card-subtitle></ion-card-subtitle>
  </ion-card-header>
  
 
  <ion-card-content>
    
    <!--Routes to recipe-details page when details is clicked  -->
    <ion-button (click)="goToRecipeDetails(ingredient.id)" > DETAILS </ion-button >
      
  </ion-card-content>

  <ion-card-content>
   
  {{ingredient.id}}
  </ion-card-content>

</ion-card>


</div>


</ion-content>

